<!-- Start Footer Section -->
<footer class="footer-section footer-bg section-top-gap-100">
    <div class="footer-wrapper">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n6">
                    <div class="col-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="0">
                            <h5 class="title">Theo dõi chúng tôi</h5>
                            <div class="footer-social"
                                 data-aos="fade-up"
                                 data-aos-delay="0">
                                <ul class="footer-social-link">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>

                    <div class="col-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="600">
                            <h5 class="title">THÔNG TIN VỀ CHÚNG TÔI</h5>
                            <div class="footer-about">
                                <p>
                                    Chúng tôi là một nhóm sáng tạo tuyệt vời với những sản
                                    phẩm hiện đại tối giản và đẹp mắt.
                                </p>
                                <address class="address">
                                    <span>Địa chỉ: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP.HCM</span>
                                    <br />
                                    <span>Email: ducduong260103@gmail.com</span>
                                </address>
                            </div>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Start Footer Center -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                    <div class="col-auto mb-6">
                        <div class="footer-copyright">
                            <p class="copyright-text">
                                Copy Right &copy; 2023 By <a href="(@Url.Action("Index","Home"))">WEBSHOP</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-auto mb-6">
                        <div class="footer-payment">
                            <div class="image">
                                <img src="~/Content/Images/company-logo/payment.png" alt="payment" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
    </div>
</footer>
<!-- End Footer Section -->